@model IEnumerable<Black_Swan.MVC.Models.CardItemVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productcount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Userid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
            if (item.Userid == User.Identity.Name)
            {
                 <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Productname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Productcount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Productprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Productid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Userid)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { item.Id }) |
                    @Html.ActionLink("Details", "Details", new { item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { item.Id })
            </td>
        </tr>
            }
           
}
    </tbody>
</table>
